.banner{
  background-color: var(--azul-degrade);
  color: var(--branco);
text-align: center;
  padding: 2.%em 2em;
}

.banner-titulo{
  font-size:18px;
  font-weight:700;
}

.banner-texto{
  font-weight:500;
  margem: 1em 0;
}
